# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Environment
.env

# Node
node_modules/

# Android build
android/.gradle/
android/build/
android/app/build/

# Cache
data/cache/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
